from SCMeTA import Process
sc = Process(ref_mz=760.58)

# Import Data
# Path can be a file or a folder
path = "path to your mzML file or folder"
# load data
sc.load(path, data_type="mzML", method="one by one") # MultiProcess would take much memory

sc.pre_process()
sc.process()
data = sc.post_process() # if input nothing, post_process will process self.data. return data[str:SCData]
sc.save(path=path)