# Rawfilereader Package
psims
click

# Data Process Package
pymzml
tqdm
pythonnet
numpy
pandas
scipy
scikit-learn
umap-learn
polars

# GUI Package
flask
flask-socketio

# Data Visualization Package
matplotlib
bokeh

# Jupyter Notebook
jupyterlab